.main-heading {
    margin-block-end: 0;
    transition: all ease 300ms;
}

.big {
    font-size: 3.5em;
}

.sub {
    font-size: 2em;
}

.btn-container {
    flex: 2;
    min-height: 50px;
    margin-block-end: 1.1em;
}

.download-button {
    min-height: 50px;
    min-width: 250px;
    background: transparent;
    border: 2px solid;
    font-size: 1.1em;
    transition: all ease-in 200ms;
}

.download-button:hover{
    box-shadow: inset 0px 0px 5px;
}

.download-button:focus{
    outline: none
}

.btn-link:focus {
    outline: none
}